@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.messageList {

  width: 100%;

  .list {
    border: 1px solid $color-divider;
    padding: 0;
  }

  .listItem {

    .right {

      span[data-react-toolbox="font-icon"] {
        font-size: $unit * 1.2;
      }

      .material-icons {
        color: $palette-red-400;
        font-size: $unit * 1.6;
      }

    }

  }

  .notify {

    .right {

      span[data-react-toolbox="font-icon"] {
        color: $palette-red-400;
        font-size: $unit * 1.6;
      }
      
    }

  }

  .divider {
    margin: 0;
  }
  
}
