@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.messageList {

  width: 100%;

  .list {
    border: 1px solid $color-divider;
    padding: 0;
  }

  .divider {
    margin: 0;
  }
  
}
