@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.reference {

  h4 {
    color: $color-text-secondary;
  }

  p {
    margin: $layout-gutter-width-sm 0;
  }

  .logo {
    height: $standard-increment-desktop * 2;
    margin-bottom: $layout-gutter-width-sm;
  }

  .card {
    box-shadow: none;
    padding: ($layout-gutter-width-sm * 2);
    max-width: 500px;
  }

  .actions {
    justify-content: flex-end;
    margin-top: $layout-gutter-width-sm;
  }

  .button {
    margin-left: $layout-gutter-width-sm;
    min-width: 96px;
  }
  
}
