@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.panel {
  background-color: $color-white;
  border-radius: 2px;
  box-shadow: $zdepth-shadow-1;
  padding: 0 $layout-gutter-width;
  max-height: $standard-increment-desktop;
  overflow: hidden;
  transition: all $animation-duration $animation-curve-default;

  .content {
    padding-bottom: $layout-gutter-width;
  }

  .toolbar {
    cursor: pointer;
    height: $standard-increment-desktop;

    .title {
      font-weight: 500;
      margin-right: $layout-gutter-width-sm;
      width: 200px;
    }

    .subTitle {
      color: $color-text-secondary;
    }

    .icon {
      transition: all $animation-duration $animation-curve-default;
    }

    .iconExpanded {
      transform: rotate(180deg);
    }

  }

  &.expanded {
    max-height: 999px;
    transition: all $animation-duration $animation-curve-default;
    margin: $layout-gutter-width 0;

    &.firstPanel {
      margin-top: 0;
    }

  }

  &.inGroup {
    border-radius: 0;
  }

  &.firstPanel {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  &.lastPanel {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.panelGroup {
  display: flex;
  flex-direction: column;
  padding: $layout-gutter-width-sm 0;
}
