@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.profileEditor {
  margin: 0 auto;

  .group {
    margin: ($baseline-grid * 4) auto;
    max-width: $unit * 55.0;

    p {
      font-weight: 500;
      line-height: 1.8rem;
    }

    h4, h5, h6 {
      margin-bottom: $layout-gutter-width-sm;
    }

    .upload {
      margin-bottom: $layout-gutter-width-sm;
      max-width: $unit * 12;
    }

    .options {
      flex-wrap: wrap;
    }

    .avatar {
      width: 12rem;
      height: 12rem;
      margin: $layout-gutter-width-sm 0;

      .letter {
        font-size: 6rem;
        line-height: 12rem;
      }

    }

    hr {
      margin: ($layout-gutter-width-sm * 2) 0;
    }

    .description {

      .inputElement {
        border: 1px solid $color-divider;
        height: 128px !important;
      }

    }

    .examples {
      margin-bottom: $layout-gutter-width-sm;
    }

    .inspiration {
      margin-top: $layout-gutter-width-sm;
    }

    .notice {
      margin: $layout-gutter-width-sm 0;
    }

  }

  a {
    margin-right: $layout-gutter-width-sm;
  }

  .button {
    margin: $layout-gutter-width-sm 0;
  }

  .link {
    cursor: pointer;
    color: $color-primary;
  }
  
}
