@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.group {
	margin: ($baseline-grid * 4) auto;

	p {
		font-weight: 500;
		line-height: 1.8rem;
	}

	h4, h5, h6 {
		margin-bottom: $layout-gutter-width-sm;
	}

	.noMargin {
		margin: 0;
	}

	.options {
		flex-wrap: wrap;
	}

	.avatar {
		width: 12rem;
		height: 12rem;
		margin: $layout-gutter-width-sm 0;

		.letter {
			font-size: 6rem;
			line-height: 12rem;
		}

	}

	hr {
		margin: ($layout-gutter-width-sm * 2) 0;
	}

	.description {

		.inputElement {
			height: 128px !important;
		}

	}

	.examples {
		margin-bottom: $layout-gutter-width-sm;
	}

	.inspiration {
		margin-top: $layout-gutter-width-sm;
	}

	.notice {
		margin: $layout-gutter-width-sm 0;
	}

}