@import "~react-toolbox/lib/commons";

body {
  background-color: $color-background;
  font-family: $preferred-font;
}

a {
  color: #22b473;
  text-decoration: none;
}

div[data-react-toolbox="card"] {
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

main {
  padding: $standard-increment-desktop $layout-gutter-width-sm ($unit * 8);

  @media screen and (max-width: $layout-breakpoint-xxs) and (orientation: portrait) {
    padding: $standard-increment-mobile $layout-gutter-width-sm ($unit * 8.8);
  }

}


