@import "~react-toolbox/lib/commons";

body {
  background-color: $color-background;
  font-family: $preferred-font;
}

a {
  color: #22b473;
  text-decoration: none;
}

main {
  padding-top: 64px;
  padding-bottom: 80px;
}
