@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.accountSettings {

  button {
    margin: $layout-gutter-width 0;
  }

  p {
    font-weight: 500;
    line-height: $unit * 1.8;
  }

  h5 {
    
    &:first-of-type {
      margin: 0 0 $layout-gutter-width-sm;
    }

    margin: $layout-gutter-width-sm 0;
  }

}

