@import "~react-toolbox/lib/commons";

body {
	background-color: $color-background;
}

a {
	color: #22b473;
	text-decoration: none;
}

main {
	margin-left: auto;
	margin-right: auto;
	padding-top: 64px;
  padding-bottom: 36px;
  max-width: $layout-lg;
}

div[data-react-toolbox="card"] {
	border-radius: 0.4rem;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.12);
}