.oh__home {
	margin-bottom: $layout-gutter-width * 4;
	margin-top: $layout-gutter-width * 4;
}
.oh__home__logo {
	width: 250px;
	margin-bottom: $layout-gutter-width * 4;
}

.oh__home__steps {
	max-width: 1200px;
	margin-bottom: $layout-gutter-width * 6;
	margin-top: $layout-gutter-width * 4;
	width: 100%;
}

.oh__home__h4 {
	margin: 4px;
	text-align: center;
}