@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $layout-breakpoint-md;
}

@media (max-width: $layout-breakpoint-md) {
  .container {
    margin-left: $layout-gutter-width;
    margin-right: $layout-gutter-width;
  }
}

@media (max-width: $layout-breakpoint-xs) {
  .container {
    margin-left: $layout-gutter-width-sm;
    margin-right: $layout-gutter-width-sm;
  }
}


