.group {
	margin: ($baseline-grid * 4) auto;

	p {
		font-weight: 500;
		line-height: 1.8rem;
	}

	h4, h5, h6 {
		margin-bottom: $layout-gutter-width;
	}

	.options {
		flex-wrap: wrap;
	}

}

.basic {

	.avatar {
		width: 12rem;
		height: 12rem;
		margin: ($baseline-grid * 4) 0 $layout-gutter-width;

		.letter {
			font-size: 6rem;
			line-height: 12rem;
		}

	}

}

.intro {

	hr {
		margin: ($layout-gutter-width * 2) 0;
	}

	.description {

		.inputElement {
			height: 128px !important;
		}

	}

	.examples {
		margin-bottom: $layout-gutter-width;
	}

	.inspiration {
		margin-top: $layout-gutter-width;
	}
}

.social {
	.notice {
		margin: $layout-gutter-width 0;
	}
}