.oh__footer {
	background-color: #4d4d4d;
	box-sizing: border-box;
	color: $text-color-light-secondary;
	display: none;
	flex: 0 0 auto;
	position: relative;
	padding: 16px;
}

.oh__active {
	display: block;
}