@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.references {

  h4 {
    color: $color-text-secondary;
  }

  .content {
    min-height: $unit * 24;
  }

  .icon {
    color: $color-text-secondary;
    font-size: $unit * 3.6;
  }

}
