@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.auth {

  h5 {
    color: $color-text-secondary;
    margin: 16px 0;
  }
  
  .logo {
    height: 64px;
    margin-bottom: 16px;
  }

  .card {
    box-shadow: none;
    padding: 32px;
    max-width: 400px;
  }

  .actions {
    justify-content: flex-end;
    margin-top: 24px;
  }

  .button {
    margin-left: 16px;
    min-width: 96px;
  }

  .forgot__password {
    margin-top: $baseline-grid;
    text-align: center;
  }

  .aside {
    margin-top: $baseline-grid;
  }
}
