.auth {
  
  .logo {
    height: 64px;
    margin-bottom: 16px;
  }

  .card {
    padding: 32px;
    max-width: 350px;
  }

  .button {
    margin: 16px 0;
  }

  .forgot__password {
    margin-top: $baseline-grid;
    text-align: center;
  }

  .aside {
    margin-top: $baseline-grid;
  }
}