.verification {
	color: $text-color-dark-secondary;

	p {
		text-align: center;
		line-height: 1.8rem;
	}

	h5 {
		color: $text-color-dark-primary
	}

	.logo {
		height: 64px;
		margin-bottom: $layout-gutter-width;
	}

	.email {
		padding: $layout-gutter-width 0;
	}

	.card {
		padding: $layout-gutter-width * 2;
		margin-bottom: $layout-gutter-width;
		max-width: 350px;
	}

	.mail {
  	font-size: 40px;
		margin: ($baseline-grid * 2) 0;
		text-align: center;
  	opacity: 0.54;
	}

	.forgot__password {
		margin-top: $baseline-grid;
		text-align: center;
	}

}