@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.conversation {

  .title {
    padding: ($unit * 1.4) ($unit * 1.6);
  }

  .messages {
    height: $unit * 48;
    overflow: hidden;
    overflow-y: auto;
  }

  .fontIcon {

    &:not([disabled]) {
      color: $color-text-secondary;
    }

  }

  .listItem {
    padding: ($unit * 0.8) 0;

    .itemText {

      &:not(.primary) {
        padding: ($unit * 0.8) 0 0;
      }
      
    }

    .right {

      span[data-react-toolbox="font-icon"] {
        font-size: $unit * 1.2;
      }

    }

  }

  .actions {
    border: 1px solid $color-divider;

    .button {
      margin-right: 8px;
      width: $unit * 9.2;
    }

    .input {
      margin-left: $layout-gutter-width-sm;
      padding: ($unit * 0.8) 0;
      width: 100%;

      .inputElement {
        border-color: transparent;
        resize: none;
      }

      .hint {
        top: $unit * 1.7;
      }

      .bar {
        display: none;
      }

    }

  }

}
