@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.profile {
  position: relative;

  .toolbar {
    background-color: $color-primary;
    box-shadow: inset 0 -1px $color-divider;
    height: 4.8 * $unit;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

}