@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.profile {
  margin: $layout-gutter-width-sm 0;
  position: relative;

  .button {
    position: absolute;
    top: -($standard-increment-desktop);
    right: 0;
  }

  .content {
    margin-top: $layout-gutter-width-sm;
  }

  .navigation {
    @media screen and (max-width: $layout-breakpoint-md) {
      display: flex;
      padding-left: 0;

      a {

        &:first-of-type {
          margin-left: 0;
        }

      }

    }

  }

  .active {
    color: $color-primary;
    font-weight: 700;
  }

}
