@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.profile {
  margin: $layout-gutter-width-sm 0;
  position: relative;

  .content {
    margin-top: $layout-gutter-width-sm;
  }

  .active {
    color: $color-primary;
    font-weight: 700;
  }

}
