@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.person {
  cursor: pointer;
  width: 100%;

  .card {
    box-shadow: none;
  }

  h5 {
    color: $color-text-secondary;
  }

  .avatar {
    font-size: $unit * 10;
    height: 148px;
    margin: $baseline-grid auto 16px;
    width: 148px;

    .letter {
      line-height: $unit * 15;
    }

  }

  .age {
    color: $color-text-secondary;
    line-height: $unit * 2;
    margin-left: 8px;
  }

  .content {
    color: $color-text-secondary;
    display: -webkit-box;
    line-height: $unit * 1.6;
    margin-top: $baseline-grid;
    height: $unit * 4.8;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

}
