@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.verification {
  color: $color-text-secondary;

  p {
    text-align: center;
    line-height: 1.8rem;
  }

  h5 {
    color: $color-text;
  }

  .logo {
    height: 64px;
    margin-bottom: $layout-gutter-width-sm;
  }

  .email {
    padding: $layout-gutter-width-sm 0;
  }

  .card {
    box-shadow: none;
    padding: $layout-gutter-width-sm * 2;
    margin-bottom: $layout-gutter-width-sm;
    max-width: 350px;
  }

  .mail {
    font-size: 40px;
    margin: ($baseline-grid * 2) 0;
    text-align: center;
    opacity: 0.54;
  }

  .forgot__password {
    margin-top: $baseline-grid;
    text-align: center;
  }

}
