@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.appBar {

  .header {
    background-color: $color-white;
    border-bottom: 1px solid $color-divider;
  }

  .wrapper {
    max-width: $layout-breakpoint-md;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    height: 48px;
    width: 48px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
  }

  .link {
    align-items: center;
    color: $color-text-secondary;
    display: flex;
    flex-direction: column;
    margin: 0 $unit * 1.6;
    opacity: 1;
    transition: all $animation-duration $animation-curve-default;

    > * {
      display: flex;
      vertical-align: inherit;
    }

    &:hover {
      color: $color-primary;
    }

    &.active {
      color: $color-primary;
    }

  }

}
