@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.appBar {
  display: none;
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 22;

  .header {
    background-color: $color-white;
    border-bottom: 1px solid $color-divider;
  }

  .wrapper {
    max-width: $layout-breakpoint-md;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    height: 48px;
    width: 64px;
  }

}

.active {
  display: block;
}