@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.footer {
  border-top: 1px solid $color-divider;
  bottom: 0;
  box-sizing: border-box;
  display: none;
  position: absolute;
  padding: $layout-gutter-width-sm;
  width: 100%;
}

.active {
  display: block;

  @media screen and (max-width: $layout-breakpoint-sm) {
    display: none;
  }
  
}
