@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.footer {
  background-color: #4d4d4d;
  bottom: 0;
  box-sizing: border-box;
  color: $color-white;
  display: none;
  position: absolute;
  padding: $layout-gutter-width-sm;
  width: 100%;
}

.active {
  display: block;
}