@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.reference {
  margin: $layout-gutter-width-sm 0;

  h4 {
    color: $color-text;
  }

  p {
    color: $color-text-secondary;
  }

  .icon {
    color: $color-text-secondary;
    font-size: $unit * 3.6;
  }

}
