.oh__login {
	display: flex;
	flex: 1 1 auto;
	background-color: #fafafa;
	min-height: 100%;

	.oh__login__container {
		align-items: center;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		margin-top: 32px;
	}

	.oh__login__card {
		padding: 32px;
		max-width: 350px;
	}

	.oh__forgot__password {
		margin-bottom: 16px;
		text-align: center;
	}

	.oh__login__logo {
		height: 64px;
		margin-bottom: 16px;
	}

	.oh__login__button {
		margin: 0 auto;
		width: 170px;
	}

	.oh__login__select {
		> ul {
			padding: 0;
		}
	}
}

@media (max-width: 599px) {
	.oh__login {
		background-color: #ffffff;
		justify-content: flex-start;
	}

	.oh__login__card {
		box-shadow: none;
	}
}
